
  
   .main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(130, 47, 255);
    flex-direction:column;
}

.main{
    
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 8px 10px;
    width: 400px;
}
h4{
    margin: 10px 140px 10px 10px;
}
h3{
    margin: 10px 100px 10px 10px;
}
#one{
  margin-top: 20px;
  width:80px;
}
.border{
  border-color: black;
  border-style: groove;
  margin:20px 200px 200px 200px;
  background-color:powderblue;
}