.navbar{
    display:flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;  
     color:white;
     padding:10px;
    
}
.Search_bar{
    padding:5px 10px;
    font-size:18px;
    border:1px solid white;
    border-radius:4px;

}
.product{
    padding: 15px;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-left:20px;
    border: solid lavender;
    text-align:center;

}

.product-list{
    display: flex;
    padding:20px;
    align-items: center;
    text-alignment:center;
}
.logo {
    font-size: 24px;
    margin:0;
}
